.results-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}

.results-list {
  width: 25rem;
  background-color: var(--secondary-color);
  text-align: center;
  overflow-y: auto;
}
